<h3>Lecture</h3>

<div class="row videos">
    <div class="col s3">
        <div class="itemslot">
            <div class="card">
                <div class="card-image waves-effect waves-block waves-light">
                    <img src="assets/image/icons/Beer.svg" alt="beer" id="beer" />
                </div>
                <div class="card-content">
                    <span class="card-title activator grey-text text-darken-4">Beer 101<i class="material-icons right">more_vert</i></span>
                </div>
                <div class="card-reveal">
                    <span class="card-title grey-text text-darken-4">Beer 101<i class="material-icons right">close</i></span>
                </div>
            </div>
        </div>
    </div>
    <div class="col s3">
        <div class="itemslot">
            <div class="card">
                <div class="card-image waves-effect waves-block waves-light">
                    <img src="assets/image/icons/photoshop.svg" alt="photoshop" id="beer" />
                </div>
                <div class="card-content">
                    <span class="card-title activator grey-text text-darken-4">Photoshop 101<i class="material-icons right">more_vert</i></span>
                </div>
                <div class="card-reveal">
                    <span class="card-title grey-text text-darken-4">Card Title<i class="material-icons right">close</i></span>
                </div>
            </div>
        </div>
    </div>
    <div class="col s3">
        <div class="itemslot">
            <div class="card">
                <div class="card-image waves-effect waves-block waves-light">
                    <img src="assets/image/icons/Beer.svg" alt="beer" id="beer" />
                </div>
                <div class="card-content">
                    <span class="card-title activator grey-text text-darken-4">Card Title<i class="material-icons right">more_vert</i></span>
                </div>
                <div class="card-reveal">
                    <span class="card-title grey-text text-darken-4">Card Title<i class="material-icons right">close</i></span>
                </div>
            </div>
        </div>
    </div>
    <div class="col s3">
        <div class="itemslot">
            <div class="card">
                <div class="card-image waves-effect waves-block waves-light">
                    <img src="assets/image/icons/Beer.svg" alt="beer" id="beer" />
                </div>
                <div class="card-content">
                    <span class="card-title activator grey-text text-darken-4">Card Title<i class="material-icons right">more_vert</i></span>
                </div>
                <div class="card-reveal">
                    <span class="card-title grey-text text-darken-4">Card Title<i class="material-icons right">close</i></span>
                </div>
            </div>
        </div>
    </div>
</div>
