<h3>Lecture</h3>

<div class="row videos">
    <div ng-repeat="lecture in lectures" class="col s3">
        <div class="itemslot">
            <div class="card">
                <div class="card-image waves-effect waves-block waves-light">
                    <a ui-sref="main.selected({lectureId: {{lecture.lectureID}}})">
                        <img src="assets/image/icons/{{lecture.lectureThumbnail}}" alt="{{lecture.lectureName}}" />
                    </a>
                </div>
                <div class="card-content">
                    <span class="card-title activator grey-text text-darken-4">{{lecture.lectureName}}<i class="material-icons right">more_vert</i></span>
                </div>
                <div class="card-reveal">
                    <span class="card-title grey-text text-darken-4">{{lecture.lectureName}}<i class="material-icons right">close</i></span>
                </div>
            </div>
        </div>
    </div>
</div>
