<nav>
    <div class="nav-wrapper light-green darken-1">
            <a href="#" class="brand-logo">
                AskY
            </a>
            <a ui-sref="main.signup" class="right" >Sign up</a>
            <a ui-sref="main.login" class="right">Login</a>
    </div>
</nav>
<section>
    <div class="row">
        <div class="col s1">
            <div ng-repeat="tab in tabList" ui-sref="main.{{tab}}" class="iconcard" ng-class="{'active' : tab == curTab}">
                <img id="{{tab}}" src="assets/image/icons/{{tab}}.svg" alt="" />
                <label for ="{{tab}}" >{{tab | capitalize}}</label>
            </div>
            
        </div>

        <!--  Here goes main pane -->
        <div class="col s11 main_section">
            <div ui-view> </div>
        </div>
    </div>
</section>
