<h3>Question</h3>
<div class="question">
    <div class="row">
        <div class="input-field">
            <input type="text"/> 
            <label for="question">Put your question in here!</label>
        </div>
        <div class="input-field right">
             <input type="checkbox" class="filled-in" id="template" ng-model="needTemplate" />
             <label for="template">I Need Template!</label>
        </div>
    </div>
    <label for="questionTags">Enter your question tag in here! (Do Press Enter!)</label>
    <div id ="questionTags" class="chips"></div>


    <div ng-show="needTemplate" class="row template center">
        <div class="col s4" ng-repeat="tmpl in template">
            <input type="radio" id="{{tmpl.typeStr}}" name="tmpl" ng-model="template" value="" />
            <label for="{{tmpl.typeStr}}">{{tmpl.typeStr}}</label>
        </div>
    </div>
</div>
